@media screen and (max-width: 1300px) {
  .my-photo {
    height: 15rem;
  }
  .name {
    font-size: 3rem;
  }
  .description {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1000px) {
  header {
    width: 70%;
    left: 15%;
  }
  .my-photo {
    height: 13rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .intro{
    width: 75%;
  }
}
@media screen and (max-width: 860px) {
  .my-photo {
    height: 10rem;
  }
  .intro{
    padding: 1.5rem;
  }
  .name {
    font-size: 2rem;
  }
  .description {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 680px) {
  .name {
    font-size: 1.75rem;
  }
  .intro{
    font-size: small;
    line-height: 1.5rem;
  }
  #about a {
    font-size: medium;
  }
  .description {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 630px) {
  header {
    width: 90%;
    height: 2rem;
    left: 5%;
  }
  .hero-section {
    flex-direction: column;
    justify-content: center;
  }
  header > a {
    font-size: x-small;
  }
  main {
    min-height: calc(100vh - 3rem);
  }
  .intro{
    width: 80%;
  }
  footer {
    font-size: x-small;
  }
  #social-icons img {
    height: 0.75rem;
  }
}
@media screen and (max-width: 450px) {
  header {
    width: 95%;
    left: 2.5%;
  }
}
.intro{
  width: 90%;
  padding: 1rem;
  font-size: smaller;
}
@media screen and (max-width: 360px) {
  .name {
    font-size: 1.5rem;
  }
}
