@media screen and (max-width: 1300px) {
  .my-photo {
    height: 15rem;
  }
  .name {
    font-size: 3rem;
  }
  .description {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .skill .bar {
    width: 50%;
  }
  header {
    width: 70%;
    left: 15%;
  }
  .my-photo {
    height: 13rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .intro {
    width: 75%;
  }
  .project {
    width: 60%;
  }
}
@media screen and (max-width: 860px) {
  .my-photo {
    height: 10rem;
  }
  .intro {
    padding: 1.5rem;
  }
  .name {
    font-size: 2rem;
  }
  .description {
    font-size: 0.75rem;
  }
  .timeline {
    width: 70%;
  }
  .certification {
    width: 90%;
  }
  .skills {
    width: 75%;
  }
  .resume,
  #support {
    width: 60%;
  }
  #contact > form {
    width: 60%;
  }
  .project {
    width: 70%;
  }
}
@media screen and (max-width: 680px) {
  .name {
    font-size: 1.75rem;
  }
  .intro {
    font-size: small;
    line-height: 1.5rem;
  }
  #about a {
    font-size: medium;
  }
  .description {
    font-size: 0.5rem;
  }
  .resume,
  #support {
    width: 75%;
  }
  #contact > form {
    width: 75%;
  }
  .project {
    width: 80%;
  }
}
@media screen and (max-width: 630px) {
  header {
    width: 90%;
    height: 2rem;
    left: 5%;
  }
  .hero-section {
    min-height: 40vh;
    flex-direction: column;
    justify-content: center;
  }
  header > a {
    font-size: x-small;
  }
  main {
    min-height: calc(100vh - 3rem);
  }
  .intro {
    width: 80%;
    font-size: smaller;
  }
  #about a {
    font-size: small;
  }
  .intro > span {
    display: none;
  }
  footer {
    font-size: x-small;
  }
  #social-icons img {
    height: 0.75rem;
  }
  .certificates {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .certificate {
    width: 90%;
  }
  .skills {
    width: 85%;
    font-size: small;
  }
  .resume,
  #support {
    width: 80%;
  }
  #contact > form {
    width: 80%;
  }
  #services p {
    font-size: larger;
  }
}
@media only screen and (max-width: 450px) {
  header {
    width: 95%;
    left: 2.5%;
  }
  .intro {
    padding: 1rem;
    line-height: 1rem;
    font-size: x-small;
  }
  .timeline {
    width: 90%;
  }
  .timeline .date {
    font-size: medium;
  }
  .timeline .description {
    font-size: small;
  }
  .skills {
    width: 95%;
    font-size: smaller;
  }
  .resume,
  #support {
    width: 90%;
    height: 8rem;
  }
  #contact > form {
    width: 90%;
  }
  #about .resume > a,
  #support > a {
    padding: 0.75rem;
  }
  .project {
    width: 90%;
  }
  .service {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .certificate_share {
    left: calc(50% - 90% / 2);
  }
}
