* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  cursor: url("/assets/icons/cursor.svg"), auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(13, 9, 19);
}
*::-webkit-scrollbar-thumb {
  background-color: wheat;
  height: 10px;
  border-radius: 10px;
}
*::selection {
  background-color: rebeccapurple;
}
a {
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
body {
  background-color: rgb(13, 9, 19);
  position: relative;
  color: wheat;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.modal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 50;
  cursor: not-allowed;
}
.certificate_share {
  display: flex;
  position: fixed;
  z-index: 50;
  width: 90%;
  max-width: 360px;
  background-color: rgba(102, 51, 153, 0.747);
  backdrop-filter: blur(4px);
  height: 200px;
  top: 20%;
  left: calc(50% - 360px / 2);
  border-radius: 10px;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.flex {
  display: flex;
}
.certificate_share > img {
  position: absolute;
  height: 1.5rem;
  top: 0.5rem;
  right: 0.5rem;
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
.certificate_share > span {
  font-size: large;
}
.certificate_share > .social_icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.social_icons > a {
  height: 2.5rem;
  padding: 0.5rem;
  background-color: wheat;
  border-radius: 100%;
}
.social_icons > a > img {
  height: 100%;
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
.certificate_share > .copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy > input {
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: small;
  background-color: wheat;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0 1rem;
  text-wrap: wrap;
  overflow-x: hidden;
  border: none;
}
.copy > input:focus-visible {
  outline: none;
}
.copy > span {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: whitesmoke;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
.copy > span > img {
  cursor: inherit;
  height: 1.25rem;
}
header {
  width: 40%;
  height: 2.5rem;
  background-color: rgba(51, 39, 70, 0.808);
  backdrop-filter: blur(2px);
  position: sticky;
  top: 1rem;
  left: 30%;
  z-index: 10;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid blueviolet;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 5px 1px whitesmoke;
}
header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  font-size: small;
  width: 16.6%;
  height: 100%;
  transition: all ease-in-out 200ms;
}
header > a:hover {
  text-shadow: 0px 0px 5px whitesmoke;
  background-color: rebeccapurple;
  box-shadow: 0px 0px 45px 1px rebeccapurple;
}
header > a:last-child:hover {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
header > a:first-child:hover {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
main {
  min-height: calc(100vh - 4rem);
  width: 100%;
}
.hero-section {
  min-height: 75vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-photo {
  height: 18.75rem;
  border-radius: 100%;
  transition: box-shadow ease-in-out 400ms;
}
.my-photo:hover {
  box-shadow: 0 0 4px 1px wheat;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: 3.5rem;
  align-self: flex-start;
  text-shadow: 1px 1px 2px purple, 0 0 10px white, 0 0 0.2em purple;
}
.description {
  font-size: 1.5rem;
}
.description:first-of-type {
  align-self: flex-start;
}
.description:last-of-type {
  align-self: flex-end;
}
#about {
  padding-top: 5rem;
  min-height: calc(100vh - 4rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.intro {
  width: 60%;
  padding: 2.5rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  text-shadow: 1px 1px 1px rebeccapurple;
  line-height: 2rem;
  transition: all ease-in-out 700ms;
  font-size: medium;
}
.intro:hover {
  box-shadow: 0 0 5px 1px white;
}
#about a {
  color: white;
  font-size: large;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}
#about a:hover {
  text-decoration: underline;
}
.timeline {
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem 0;
}
.timeline > h3,
.certification > h3,
.skills > h3,
#portfolio > h3 {
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}
.date::before {
  content: "O>";
  margin-right: 0.5rem;
}
.date {
  font-size: large;
}
.timeline .description {
  text-align: left;
  font-size: medium;
  padding-left: 5rem;
}
.certification {
  width: 75%;
  margin-bottom: 1rem;
}
.certificates {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.certificate {
  width: 40%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate > img {
  border-radius: 10px;
  width: 100%;
}
.share {
  height: 3rem;
  width: 3rem;
  background-color: #0d0913;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 100%;
}
.share > img {
  margin: 1rem;
  position: absolute;
  height: 50%;
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
.skills {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}
.skills .skill {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .bar {
  width: 70%;
  height: 0.75rem;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  position: relative;
}
.bar > div {
  height: 100%;
  background-color: wheat;
  border-radius: inherit;
}
.bar > .html {
  width: 100%;
}
.bar > .css {
  width: 95%;
}
.bar > .js {
  width: 85%;
}
.bar > .react,
.bar > .node {
  width: 75%;
}
.bar > .next,
.bar > .python {
  width: 50%;
}
.bar > .express {
  width: 85%;
}
.bar > .mongodb {
  width: 70%;
}
.skill span:first-child {
  width: 20%;
  text-align: start;
}
.skill span {
  text-align: end;
}
.resume {
  background: url("/assets/images/resume.jpg") no-repeat center center;
  background-size: cover;
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  border-radius: 0.5rem;
}
#about .resume > a,
#support > a {
  background-color: rgba(102, 51, 153, 0.719);
  padding: 1.25rem;
  color: wheat;
  backdrop-filter: blur(4px);
  border-radius: inherit;
  transition: all ease-in-out 500ms;
  font-size: medium;
  text-decoration: none;
}
#about .resume > a:hover,
#support > a:hover {
  text-decoration: none;
  box-shadow: 0 0 5px 2px black;
}
#portfolio {
  min-height: calc(100vh - 4rem);
  width: 100%;
  margin-bottom: 1rem;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.project {
  width: 40%;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid wheat;
  box-shadow: 0 0 5px 1px wheat;
}
.project > img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
.project .title > h3 {
  padding: 0.5rem;
  font-weight: 500;
}
.project .description > p {
  padding: 0.75rem;
  font-size: small;
  text-align: justify;
}
.project .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 1.25rem;
  padding-bottom: 0.75rem;
}
.actions > a {
  padding: 0.15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
.actions > a > img {
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
  height: 1.25rem;
  width: 1.25rem;
}
#support {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/support.jpg") no-repeat top center;
  background-size: cover;
  height: 14rem;
  border-radius: 0.5rem;
}
#contact {
  width: 100%;
}
#contact > form {
  background: url("/assets/images/contactus.png") no-repeat center center;
  height: auto;
  width: 50%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
#contact > form > input,
#contact > form > textarea {
  width: 80%;
  text-align: center;
  color: black;
  font-size: small;
  background-color: rgba(102, 51, 153, 0.671);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: wheat;
}
#contact > form > input:focus-visible,
#contact > form > textarea:focus-visible {
  outline: none;
}
#contact > form > input::placeholder,
#contact > form > textarea::placeholder {
  color: whitesmoke;
}
#contact textarea {
  max-width: 80%;
  min-width: 80%;
  min-height: 5rem;
  max-height: 5rem;
}
#contact button {
  background-color: rgba(102, 51, 153, 0.63);
  border: none;
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: wheat;
  backdrop-filter: blur(4px);
  border-radius: 0.25rem;
}
#contact button:focus-visible {
  outline: none;
}
#contact img {
  height: 0.75rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
  font-size: smaller;
}
#copyright {
  text-align: center;
}
#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#social-icons > a {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 100%;
}
#social-icons img {
  height: 1rem;
}
