* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  cursor: url("/assets/icons/cursor.svg"), auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(13, 9, 19);
}
*::-webkit-scrollbar-thumb {
  background-color: wheat;
  height: 10px;
  border-radius: 10px;
}
*::selection {
  background-color: rebeccapurple;
}
a {
  cursor: url("/assets/icons/cursor-hand-line.svg"), auto;
}
body {
  background-color: rgb(13, 9, 19);
  position: relative;
  color: wheat;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
header {
  width: 40%;
  height: 2.5rem;
  background-color: rgba(51, 39, 70, 0.808);
  backdrop-filter: blur(2px);
  position: sticky;
  top: 1rem;
  left: 30%;
  z-index: 10;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid blueviolet;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 5px 1px whitesmoke;
}
header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  font-size: small;
  width: 16.6%;
  height: 100%;
  transition: all ease-in-out 200ms;
}
header > a:hover {
  text-shadow: 0px 0px 5px whitesmoke;
  background-color: rebeccapurple;
  box-shadow: 0px 0px 45px 1px rebeccapurple;
}
header > a:last-child:hover {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
header > a:first-child:hover {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
main {
  min-height: calc(100vh - 4rem);
  width: 100%;
}
.hero-section {
  min-height: 75vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-photo {
  height: 18.75rem;
  border-radius: 100%;
  transition: box-shadow ease-in-out 400ms;
}
.my-photo:hover {
  box-shadow: 0 0 4px 1px wheat;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: 3.5rem;
  align-self: flex-start;
  text-shadow: 1px 1px 2px purple, 0 0 10px white, 0 0 0.2em purple;
}
.description {
  font-size: 1.5rem;
}
.description:first-of-type {
  align-self: flex-start;
}
.description:last-of-type {
  align-self: flex-end;
}
#about {
  min-height: calc(100vh - 4rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.intro {
  width: 60%;
  padding: 2.5rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  text-shadow: 1px 1px 1px rebeccapurple;
  line-height: 2rem;
  transition: all ease-in-out 700ms;
  font-size: medium;
}
.intro:hover {
  box-shadow: 0 0 5px 1px white;
}
#about a {
  color: white;
  font-size: large;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}
#about a:hover {
  text-decoration: underline;
}
.timeline {
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem 0;
}
.timeline > h3,
.certification > h3 {
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}
.date::before {
  content: "O>";
  margin-right: 0.5rem;
}
.date {
  font-size: large;
}
.timeline .description {
  text-align: left;
  font-size: medium;
  padding-left: 5rem;
}
.certification {
  width: 75%;
  margin-bottom: 1rem;
}
.certificates {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.certificate {
  width: 40%;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate > img {
  border-radius: 10px;
  width: 100%;
}
.share {
  height: 3rem;
  width: 3rem;
  background-color: #0d0913;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 100%;
}
.share > img {
  margin: 1rem;
  position: absolute;
  height: 50%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
  font-size: smaller;
}
#copyright {
  text-align: center;
}
#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#social-icons > a {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 100%;
}
#social-icons img {
  height: 1rem;
}
